.gallery {
  @extend %section;
  padding: 94px 0;
}
.container {
  @extend %container;
}

.section-title--hidden {
  @extend %visually-hidden;
}

.gallery-buttons {
  @extend %list;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.gallery-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__button {
    background-color: $secondaryBackgroundColor;
    color: $titleColor;
    border-style: none;
    border-radius: 4px;

    font-family: 'roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0.03em;

    display: inline-block;
    padding: 6px 22px;
    

    transition: color 250ms $timingFunction,
      background-color 250ms $timingFunction, box-shadow 250ms $timingFunction;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button:hover,
  &__button:focus {
    background-color: $accentColor;
    color: $primaryWhiteColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
      cursor: pointer;
  }
}
