.footer-title {
  margin: 0 0 20px;
  font-size: 14px;
  font-weight: 700;
  color: $primaryWhiteColor;
  align-items: flex-end;
  text-transform: uppercase;
}

.footer-socials {
  @extend %list;
  display: flex;

  &__icon {
    fill: $primaryWhiteColor;
    transition: fill 250ms $timingFunction;
  }

  &__link {
    @include CentredFlex(flex);

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;

    transition: background-color 250ms $timingFunction;
  }
}

.footer-socials__link:hover,
.footer-socials__link:focus {
  background-color: $accentColor;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}
