$primaryWhiteColor: #ffffff;
$primaryTextColor: #757575;
$titleColor: #212121;
$accentColor: #2196f3;
$heroBackgroundColor: #2f303a;
$secondaryBackgroundColor: #f5f4fa;
$hoverAccentColor: #188ce8;
$iconsColor: #afb1b8;
$footerIconsBG: rgba(255, 255, 255, 0.1);

$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);