.clients {
    @extend %section;
    padding: 94px 0;

    &-container {
        @extend %container;
    }

}

.clients-list {
    @extend %list;
    display: flex;
  gap: 30px;

  &__item {
     flex-basis: calc((100% - 150px) / 6);
  height: 92px;

  }

  &__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border: 1px solid $iconsColor;
  fill: $iconsColor;
  border-radius: 4px;
  cursor: pointer;

  transition: fill 250ms $timingFunction,
    border 250ms $timingFunction;
}
}

.clients-list__link:hover,
.clients-list__link:focus {
  fill: $accentColor;
  border: 1px solid $accentColor;
}

